.control-label {
	margin-top: 0.5em;
}

.explanation {
	font-size:0.8em;
}

#results .title {
	display: block;
	width: 100%;
	clear: both;
}


#results .panel-body > a {
	color: #444;
	text-decoration: none;
	float:left;
	margin:0 10px 15px 0;
	float:left;
	border: 1px solid #E8FDFF;
	font-size: 0.85em;
	border-radius: 3px;
	padding: 3px 3px 0 0;
}

#results .list_item {
	clear: both;
	width: 100%;
}

.list_item .item_image {
	float: left;
	width: 20%;
}

.list_item .item_infos {
	float: left;
	padding-left: 10px;
    width: 80%;
}

.item_infos h2 {
	margin-top: 0;
	font-size: 2em;
}

.item_infos .item_price {
	float: right;
    margin-top: -50px;
}

.ad {
	width:100%;
	text-align:center;
}

